.form {
  background: #FFFFFF;
  box-shadow: 0px 11px 21px rgba(40, 40, 40, 0.07);
  border-radius: 7px;
  @include for-tablet-portrait {
    margin-bottom: 20px;
  }
  &__wrapper {
    padding: 27px 31px;
    @include for-phone {
      padding: 15px;
    }
  }

  &__content {
    position: relative;
    margin-top: 25px;
    padding-bottom: 19px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 310px;
    gap: 10px;
    align-items: center;
    @include for-desk {
      grid-template-columns: repeat(4, 1fr);
    }
    @include for-tablet-landscape {
      grid-template-columns: 50px 180px 1fr 1fr;
    }
    @include for-tablet-portrait {
      grid-template-columns: 1fr;
    }
    &:first-child {
      margin-top: 0;
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #B1B1B1;
      opacity: 0.35;
    }
  }



  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #343434;
  }

  &__number, &__name, &__address a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #6E6E6E;
  }

  &__actions {
    display: flex;
    column-gap: 10px;
    @include for-desk {
      flex-direction: column;
      gap: 10px;
    }
    @include for-tablet-landscape {
      width: 149px;
    }
  }

  &__btn {
    border: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 8px 25px 8px 14px;
    border-radius: 5px;
    transition: all 0.2s;
    &_edit {
      background: #55C97B;
      &:hover {
        background-color: #29a600;
        border-color: #269900;
      }
    }

    &_close {
      background: #B1B1B1;
      &:hover {
        background-color: #8b8b8b;
        border-color: #8b8b8b;
      }
    }
  }

  &__btn-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
  }
}
