@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';
@import 'base/animations';

@import 'blocks/sidebar/sidebar';
@import 'blocks/main/main';
@import 'blocks/controls/controls';
@import 'blocks/breadcrumbs/breadcrumbs';
@import 'blocks/btns/btns';
@import 'blocks/title/title';
@import 'blocks/form/form';
@import 'blocks/modal/modal';


@import 'blocks/bootstrap-theme/bootstrap-theme';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*
font-family: 'Roboto', sans-serif;
medium, regular
*/

*, *:before, *:after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

input, button, textarea {
  outline: none;
}


.wrapper {
  display: grid;
  grid-template-columns: 255px 1fr;
  column-gap: 60px;
  @include for-tablet-portrait {
    gap: 30px;
  }
  @include for-phone-portrait {
    grid-template-columns: 120px 1fr;
  }
  @include for-phone {
    grid-template-columns: 50px 1fr;
    gap: 15px;
  }
}






button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}


body {
  background-color: #F8FAFF;
}
