.breadcrumbs {


  &__list {
    display: flex;
    list-style-type: none;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #656565;
  }

  &__divider {
    margin-left: 5px;
  }
}
