.sidebar {
  max-width: 256px;
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  &__wrapper {
    padding: 30px 25px 30px 0;
    @include for-phone-portrait {
      padding: 30px 0px 30px 0;
    }
  }

  &__logo-icon {
    width: 106px;
    height: 51px;
    padding-left: 25px;
    @include for-phone {
      padding: 0 5px;
      width: 100%;
      height: auto;
    }

  }

  &__nav {
    margin-top: 30px;
  }

  &__list {
    list-style-type: none;
  }

  &__item {

    margin-bottom: 16px;
    position: relative;
    &:hover, &_active {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background: #6666CC;
        box-shadow: 0px 2px 10px rgba(102, 102, 204, 0.67);
      }
      .sidebar__icon {
        filter: invert(45%) sepia(20%) saturate(1660%) hue-rotate(201deg) brightness(90%) contrast(91%);
      }
      .sidebar__link {
        text-decoration: none;
      }
      .sidebar__caption {
        font-weight: 500;
        color: #343434;
      }
    }

  }

  &__link {
    padding: 14px 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
    @include for-phone-portrait {
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: 25px;
    @include for-phone-portrait {
      margin-left: 0;
    }
  }

  &__icon {
    width: 23px;
    filter: saturate(0%) hue-rotate(45deg);

  }

  &__caption {
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7d;
    line-height: 21px;
    @include for-phone-portrait {
      display: none;
    }
  }
}
