.controls {

  &__header {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    @include for-phone {
      flex-direction: column;
      gap: 15px;
      margin-bottom: 15px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__message {
    border: 1px solid #D4D4D4;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  &__icon {
    position: relative;
  }

  &__notification {
    position: absolute;
    top: -2px;
    right: -3px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #F8FAFF;
  }

  &__notification-icon {
    width: 7px;
    height: 7px;
    background: #E42626;
    border-radius: 100%;
    margin-left: 4px;
    margin-top: 1px;
  }

  &__profile {
    padding: 10px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(136, 167, 245, 0.18);
    border-radius: 5px;
  }

  &__profile-content {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__profile-avatar {
    outline: 3px solid #d4d4d4;
    outline-offset: -3px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    object-fit: cover;
  }

  &__profile-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7D7D7D;
    @include for-tablet-portrait {
      display: none;
    }
  }
}
