.btn-create {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 7px 18px;
  background: #55C97B;
  &:hover {
    background-color: #29a600;
    border-color: #269900;
  }
  &__icon {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
  }
}
