.overlays {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 20;
  transition: .3s all;
}

.overlays_active {
  opacity: 1;
  visibility: visible;
}

.modals {
  width: 100%;
  max-width: 615px;
  position: fixed;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 30;
  text-align: center;
  padding: 25px 25px 40px 25px;
  border-radius: 10px;
  background-color: #fff;
  transition: .3s all;
  height: auto;
  @include for-phone {
    padding: 0px;
  }
  &__container {
    position: relative;
    padding: 30px 20px 35px 25px;
    @include for-phone {
      padding: 15px 7px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    color: #343434;
  }

  &__close {
    width: 17px;
    height: 17px;
    cursor: pointer;
  }

  &__row {
    &_2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 90px;
      margin-bottom: 30px;
      @include for-phone {
        grid-template-columns: 1fr;
        gap: 15px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #343434;
    text-align: left;
  }

  &__input {
    position: relative;
  }

  &__text {
    width: 100%;
    background: #E6E6E9;
    border: none;
    padding: 7px 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7D7D7D;
  }

  &__domain {
    position: absolute;
    top: 0;
    right: 0;
    background: #6666CC;
    height: 100%;
    width: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }

  &__disclaimer {
    margin-top: 27px;
    display: flex;
    gap: 15px;
  }

  &__discalimer-icon {
    width: 52px;
    height: 52px;
  }

  &__disclaimer-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #7D7D7D;
    text-align: left;
  }

  &__disclaimer-link {
    color: #6666CC;
  }

  &__btns {
    margin-top: 44px;
    display: flex;
    gap: 10px;
  }

  &__btn {
    width: 151px;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    transition: all 0.2s;
    &_cancel {
      background: #B1B1B1;
      &:hover {
        background-color: #8b8b8b;
        border-color: #8b8b8b;
      }
    }

    &_create {
      background: #55C97B;
      &:hover {
        background-color: #29a600;
        border-color: #269900;
      }
    }
  }
}


select {
  width: 100%;
  padding: 7px 5px 10px 15px;
  border: 1px solid #7C7C7C;
  border-radius: 5px;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../../assets/img/arrow-select.png') 96% / 5% no-repeat transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #7C7C7C;

  @include for-phone {
    background: url('../../../assets/img/arrow-select.png') 96% / 3% no-repeat transparent;
  }
}

select::-ms-expand {
    display: none;
}

@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}
