.sidebar-bs {
  padding: 0;
  min-height: 100vh;
  background-color: #FFFFFF;
  @include for-phone-portrait {
    min-height: auto;
  }
  .nav {
    margin-top: 30px;
    @include for-phone-portrait {
      margin-top: 0;
    }
  }
  .sidebar__content {
    margin-left: 11px;
  }
  .sidebar__caption {
    @include for-phone-portrait {
      display: block;
    }
  }
  .sidebar__logo {
    @include for-phone-portrait {
      display: none;
    }
  }
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

.modal-body {
  padding: 1rem 1rem 0 1rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: url('../../../assets/img/arrow-point-to-right.png');
}

.main-bs {
  padding-left: 50px;
  @include for-phone-portrait {
    padding-left: calc(var(--bs-gutter-x) * .5);
  }
}

.controls__message-bs {
  width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.navbar {
  display: none;
  @include for-phone-portrait {
    display: flex;
  }
}

.logo__icon {
  @include for-phone-portrait {
    width: 30px;
  }
}

#myModal {
  .modals__title {
    margin-bottom: 0;
  }
  .modals__row-bs {
    justify-content: space-between;
    margin-bottom: 30px;
    @include for-phone-portrait {
      gap: 15px;
    }
  }
  .modals__btns {
    border: none;
    justify-content: flex-start;
    padding: 0 0.75rem 1.75rem 0.75rem;
  }
  .modals__header {
    border: none;
    padding: 25px 1rem 27px 1rem;
  }
}
